* {
  font-family: Roboto;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
  "search search search"
  "products details cart";
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

#searchArea {
  grid-area: search;
  text-align: center;
  background-color: orange;
}

#searchBox {
  width: 30rem;
  height: 1rem;
}

#productDisplay {
  grid-area: products;
  background-color: aquamarine;
}

#listProducts {
  list-style-type: none;
 }

 #listProducts li {
   padding: .5rem;
 }

#productDetail {
  grid-area: details;
  background-color: red;
  text-align: center;
}

#shoppingCart {
  text-align: center;
  grid-area: cart;
  background-color: green;

}